In [ ]:
print('hello world')

hello world

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
543*345

187335

In [ ]:
type(10)

int

In [ ]:
type(10.1)

float

In [ ]:
type('rishi')

str

In [ ]:
type(True)

bool

In [ ]:
eno=40
ename="chotuu"
esal=9999
print("The employee no is",eno)
print("her name is",ename)
print("her salary is",esal)

The employee no is 40
her name is chotuu
her salary is 9999

In [ ]:
a=int(input("Enter a value"))
b=int(input("Enter b value"))
print(type(a))
print(type(b))
print(a+b)

Enter a value10
Enter b value20
<class 'int'>
<class 'int'>
30

In [ ]:
eno=int(input("enter employee number:"))
ename= input("enter employee name:")
esal=float(input("enter employee salary:"))
print("The employee no is",eno)
print("her name is",ename)
print("her salary is",esal)

enter employee number:40
enter employee name:chotuu
enter employee salary:9999
The employee no is 40
her name is chotuu
her salary is 9999.0

In [ ]:
#write a python program to enter radius of circle and find the area?

radius=int(input("enter the radius of circle:"))
pi=3.14
area=pi*radius*radius
print("the area of circle is",area)

enter the radius of circle:2
the area of circle is 12.56

In [ ]:
#write a python program find the area and circumference of rectengle?

length=int(input("length of the rectangle:"))
breadth=int(input("breadth of the rectangle:"))
area=length*breadth
circumference=2*(length+breadth)
print("area of rectangle is",area)
print("circumference of rectangle is",circumference)

length of the rectangle:12
breadth of the rectangle:14
area of rectangle is 168
circumference of rectangle is 52

In [ ]:
#write a python program to check whether the person is eligible for voting or not

age=int(input())

if age>=18:
   print("eligible for voting")
else:
  print("not eligible for voting")

25
eligible for voting

In [ ]:
#write a python program to check the given number is positive or negitive or zero?
number=int(input())
if number>0:
   print("the given number is positive")
elif number<0:
   print("the given numbrer is negitive")
else:
   print("the given number is zero")

8
the given number is positive

In [ ]:
#accept the marks of the students
#excellent for above 90
#good for marks blw 70 and 90
#avg for marks blw 50 and 70
#fail for below 50

marks=int(input("enter the marks"))

In [ ]:
#accept employee basic salary and find gross salary
basic=int(input("enter your basic salary to find gross salary"))
if basic<=10000:
   print() #HRA is 70% on basic, DA is 56% on basic
   HRA= 70*basic
   DA= 56*basic
elif basic<=20000:
  print()  #HRA is 73% on basic, DA is 60% on basic
  HRA= 73*basic
  DA= 60*basic
else:
  print()  #HRA is 80% on basic, DA is 56% on basic
  HRA= 80*basic
  DA= 56*basic

gs=basic+HRA+DA
print("gross salary is", gs)

enter your basic salary to find gross salary15000

gross salary is 2010000

In [ ]:
#accept username and password and display
#invalid username --if username is incorrect
#invalid password --if password is incorrect
username=input("enter username:")
password=input("enter password:")
if username=="rishitha":
  if password=="rishi123":
    print("valid user")
  else:
    print("invalid password")
else:
  print("invalid username")

enter username:rishitha
enter password:rishi1234
invalid password

In [ ]:
#SBI ATM : 500,200,100
#10000-->
#7800-->15-500,1-200,1-100
#400-->2-200
#1000-->2-500

#Accept withdraw amount and print number of notes
#sample input:7800
#expected output:
#15-500
#1-200
#1-100

In [ ]:
amount=int(input("enter the amount:"))
five=0
two=0
one=0
if amount%100==0:
  if amount>=500:
    five=amount//500
    amount=amount-(five*500)

    print("500 -------",five)
if amount>=200:
    two=amount//200
    amount=amount-(two*200)
    print("200 ------",two)
if amount>=100:
    one=amount//100
    amount=amount-(one*100)
    print("100 ------",one)

enter the amount:25800
500 ------- 51
200 ------ 1
100 ------ 1

In [ ]:

#1.accept project marks,internal marks, external marks from students
#2.passmarks is 50 in each subject
#3. calculate total score if students got more than or equal  to 50 in subject

#total_score= 70% on project + 20% on external + 10% on internal
#print A grade if score is above 90
#B grade if score is b/w 70 and 90
#C grade if score is b/w 50 and 70

project=int(input("enter the project marks:"))
external=int(input("enter the external marks:"))
internal=int(input("enter the internal marks:"))
if project>=50 and external>=50 and internal>=50:
   total=(project*70)/100+(external*20)/100+(internal*10)/100
   print("total marks is:",total)
if marks>=90:
  print("A grade")
elif marks>=70:
  print("B grade")
else:
  print("C grade")

enter the project marks:90
enter the external marks:70
enter the internal marks:50
total marks is: 82.0
A grade

In [ ]:
#accept start and stop value and print b/w values
#start: 10
#stop: 100
#o/p: 10 11 12 ...99

#start:  100
#stop: 10
#o/p: 100 99 98 ...10

#start:10
#stop:10
#o/p: your start and stop values are same

start=int(input("enter the start value:"))
stop=int(input("enter the stop value:"))
if start<stop:
  for i in range(start,stop):
    print(i,end=" ")
elif start>stop:
  for i in range(start,stop,-1):
    print(i,end=" ")
else:
  print("your start and stop values are same")

enter the start value:10
enter the stop value:50
10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49

In [ ]:
# Write a program to print factors of a given number
# Write a program to print count of factors of a given number
# Write a program to check given number is prime or not
# Write a program to check given number is perfect number or not
# Write a program to display the number in reverse order
# Write a program to check given number is palindrom number or not

In [ ]:
# Write a program to print factors of a given number
#10 --> 1 2 5
#50 --> 1 2 5 10 25
num=int(input("enter the number to print factor:"))
for i in range(1,(num//2)+1):
  if  num%i==0:
    print(i,end=" ")

enter the number:250
1 2 5 10 25 50 125

In [ ]:
# Write a program to print count of factors of a given number
count=0
num=int(input("Enter your number to print count of factors :"))
for i in range(1, (num//2)+1):
    if num%i==0:
        count=count+1

print("number of factors: ",count)

Enter your number to print count of factors :56
number of factors:  7

In [ ]:
# Write a program to check given number is prime or not
count=0
num=int(input("Enter your number to check it is prime or not :"))
for i in range(1, (num//2)+1):
    if num%i==0:
        count=count+1

if count==1:
    print(num," is a prime number")
else:
    print(num," is not a prime number")

Enter your number to check it is prime or not :27
27  is not a prime number

In [ ]:
# Write a program to check given number is perfect number or not
# 6      :  1+2+3  ==6
# 28     : 1+2+4+7+14===28
# 10     : 1+2+5  ===> 8

sum=0
num=int(input("Enter your number to check it is perfect number or not :"))
for i in range(1, (num//2)+1):
    if num%i==0:
        sum=sum+i

if sum==num:
    print(num," is perfect number")
else:
    print(num," is not a perfect number")

Enter your number to check it is perfect number or not :8128
8128  is perfect number

In [ ]:
for i in range(0,5):
  for j in range(0,5):
    print("hi", end=" ")
  print()

hi hi hi hi hi
hi hi hi hi hi
hi hi hi hi hi
hi hi hi hi hi
hi hi hi hi hi

In [ ]:
for i in range(0,5):
  for j in range(0,i+1):
    print("chotuuu", end=" ")
  print()

chotuuu
chotuuu chotuuu
chotuuu chotuuu chotuuu
chotuuu chotuuu chotuuu chotuuu
chotuuu chotuuu chotuuu chotuuu chotuuu

In [ ]:
for row in range(0,6):
    for col in range(0,7):
        if (row==0 and col%3!=0) or (row==1 and col%3==0) or (row-col==2) or (row+col==8):
            print(" * ",end=" ")
        else:
            print(" ", end="  ")
    print(" ")

    *   *      *   *
 *         *         *
 *                  *
    *            *
       *      *
          *

In [ ]:
# While loop:
# Write a program to find number of digits in a given number
# Write a program to display the number in reverse order
# Write a program to check given number is palindrom number or not

In [ ]:
# While loop:

num=1
while num<=10:
  print("chotu", end=" ")
  num=num+3

chotu chotu chotu chotu

In [ ]:
# Write a program to find number of digits in a given number
 #input: 5235
 #op: 4

num=6574
count=0
while num!=0:           # 0 !=0
    num=num//10         # 6//10  --> 0
    count=count+1        # 4
print("Number of digits : ",count)

Number of digits :  4

In [ ]:
# Write a program to display the number in reverse order
# input: 6324  ---
# output: 4236

num=6324
rev=0
while num!=0:            # 6!=0
    rem=num%10               # 6%10   =6
    rev=rev*10+rem       #4236
    num=num//10              # 6//10  6
print("reverse number: ",rev)

reverse number:  4236

In [ ]:
x=56, "chotu", True, 4.31
type(x)

tuple

In [ ]:
list
tuple
set
dict

In [ ]:
m=56,45.34, "chotu", True
type(m)

tuple

In [ ]:
indexable
iterable
immutable

In [ ]:
a=(13,18,19,20,1,4)
a=58
if age>=18:
  print("eligible for voting")
else:
  print("not eligible for voting")

eligible for voting

In [ ]:
age=(18,19,52,15,9)
for i in age:
  if i>=18:
    print("eligible:",i)
  else:
      print("not eligible:",i)

eligible: 18
eligible: 19
eligible: 52
not eligible: 15
not eligible: 9

In [ ]:
salary=[200,300,400,800,1000]
salary.append(1200)
print(salary)

[200, 300, 400, 800, 1000, 1200]

In [ ]:
salary=[200,300,400,800,1000]
salary.remove(200)
print(salary)

[300, 400, 800, 1000]

In [ ]:
salary=[200,300,400,800,1000]
salary.insert(3,500)
print(salary)

[200, 300, 400, 500, 800, 1000]

In [ ]:
salary=[200,300,400,800,1000]
salary.pop(2)
print(salary)

[200, 300, 800, 1000]

In [ ]:
data=[80,62,40,85,302,44]
data.sort()
print(data)

[40, 44, 62, 80, 85, 302]

In [ ]:
data.reverse()
print(data)

[302, 85, 80, 62, 44, 40]

In [ ]:
#Fucntion: fuction is a group of statements which returns some result.

#1. Function with paramenters and without return value
#2. Function with paramenters and with return value
#3. Function without paramenters and without return value
#4. Function without paramenters and with return value

In [ ]:
def isPrime1(num):
    count=0
    a=False
    for i in range(1, (num//2)+1):
        if num%i==0:
            count=count+1
    if count==1:
       a=True

b=isPrime1(11)
if b==True:
    print("Prime number")
else:
    print("Not a prime number")

Not a prime number

In [ ]:
def isPrime1(num):
    count=0
    a=False
    for i in range(1, (num//2)+1):
        if num%i==0:
            count=count+1
    if count==1:
       a=True
    return a

b=isPrime1(2)
if b==True:
    print("Prime number")
else:
    print("Not a prime number")

Prime number

In [ ]:
#3. Function without paramenters and without return value
def isPrime():
    num=int(input("Enter your number :"))
    count=0
    for i in range(1, (num//2)+1):
        if num%i==0:
            count=count+1
    if count==1:
        print(num," is a prime number")
    else:
        print(num," is not a prime number")

isPrime()

Enter your number :11
11  is a prime number

In [ ]:
# 4. Function without paramenters and wit return value
def isPrime1():
    num=int(input("Enter your number"))
    count=0
    a=False
    for i in range(1, (num//2)+1):
        if num%i==0:
            count=count+1
    if count==1:
       a=True
    return a

b=isPrime1()
if b==True:
    print("Prime number")
else:
    print("Not a prime number")

Enter your number5
Prime number

In [ ]:
def viewPrograms():
    print("1. Prime number program")
    print("2. Reverse of a given number")
    print("3. Print factors of a given number")
    option=int(input("Choose your option: "))
    if option==1:
        isPrime()
    elif option==2:
        reverseNumber()
    elif option==3:
        factors()
    else:
        print("Please select 1 to 3")
def isPrime():
    print("Prime number program")
def reverseNumber():
    print("Reverse number code")
def factors():
    print("Factors code")


viewPrograms()

1. Prime number program
2. Reverse of a given number
3. Print factors of a given number
Choose your option: 2
Reverse number code

In [19]:

class ATM:
    acbal=10000
    def deposit(self):
        amt=int(input("Enter your deposite amount :"))
        self.acbal=self.acbal+amt
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()


obj=ATM()
obj.viewOptions()

Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 1
Enter your deposite amount :10000
Avaliable bal is:  20000

In [22]:
class ATM:
    acbal=10000
    def deposit(self):
        amt=int(input("Enter your deposite amount :"))
        if amt%100==0:
            self.acbal=self.acbal+amt
        else:
          print("please enter multiples of 100")
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()


obj=ATM()
obj.viewOptions()

Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 1
Enter your deposite amount :1000
Avaliable bal is:  11000

In [28]:
class ATM:
    acbal=10000
    def deposit(self):
        amt=int(input("Enter your deposite amount :"))
        if amt%100==0:
            if amt<=50000:
                self.acbal=self.acbal+amt
            else:
                print("Transaction limit is 50k only")
        else:
            print("Please enter multiples of 100")
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()


obj=ATM()
obj.viewOptions()

Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 1
Enter your deposite amount :56000
Transaction limit is 50k only
Avaliable bal is:  10000

In [42]:
class ATM:
    acbal=10000
    def withdraw(self):
        # accept amount
        # amount should be multiples of 100
        # withdraw amount should be less than acbal
        # transaction limit is 20k
        pass #added pass statement to satisfy indentation
    def deposit(self):
        amt=int(input("Enter your deposit amount :"))
        if amt%100==0:
            if amt<=50000:
                self.acbal=self.acbal+amt
            else:
                print("Transaction limit is 50k only")
        else:
            print("Please enter multiples of 100")
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()
        elif option==2:
            obj.withdraw()



obj=ATM()
obj.viewOptions()

Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 1
Enter your deposit amount :738973928974
Please enter multiples of 100
Avaliable bal is:  10000

In [46]:
class ATM:
    acbal=10000
    def withdraw(self):
        amt=int(input("Enter your withdraw amount: "))
        if amt%100==0:
            if amt<=self.acbal:
                if amt<=20000:
                    self.acbal=self.acbal-amt
                else:
                    print("Transaction limit is 20k only")
            else:
                print("Insuffcient fund")
        else:
            print("Please enter multiples of 100")
    def deposit(self):
        amt=int(input("Enter your deposite amount :"))
        if amt%100==0:
            if amt<=50000:
                self.acbal=self.acbal+amt
            else:
                print("Transaction limit is 50k only")
        else:
            print("Please enter multiples of 100")
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()
        elif option==2:
            obj.withdraw()



obj=ATM()
obj.viewOptions()

Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 2
Enter your withdraw amount: 50000
Insuffcient fund

In [47]:
class ATM:
    acbal=10000
    def withdraw(self):
        amt=int(input("Enter your withdraw amount: "))
        if amt%100==0:
            if amt<=self.acbal:
                if amt<=20000:
                    self.acbal=self.acbal-amt
                    print("Avaliable bal is: ",self.acbal)
                else:
                    print("Transaction limit is 20k only")
            else:
                print("Insuffcient fund")
        else:
            print("Please enter multiples of 100")
    def deposit(self):
        amt=int(input("Enter your deposite amount :"))
        if amt%100==0:
            if amt<=50000:
                self.acbal=self.acbal+amt
            else:
                print("Transaction limit is 50k only")
        else:
            print("Please enter multiples of 100")
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()
        elif option==2:
            obj.withdraw()



obj=ATM()
obj.viewOptions()

Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 2
Enter your withdraw amount: 300
Avaliable bal is:  9700

In [58]:
class ATM:
    acbal=10000
    def numberOfNotes(self,amt):
        five=0
        two=0
        one=1
        if amt>=500:
            five=amt//500
            amt=amt-(five*500)
            print("500 rupees notes are : ",five)
        if amt>=200:
            two=amt//200
            amt=amt-(two*200)
            print("200 rupees notes are : ",two)
        if amt>=100:
            print("100 rupees notes are  ",one)

    def withdraw(self):
        amt=int(input("Enter your withdraw amount: "))
        if amt%100==0:
            if amt<=self.acbal:
                if amt<=20000:
                    self.acbal=self.acbal-amt
                    obj.numberOfNotes(amt)
                    print("Avaliable bal is: ",self.acbal)
                else:
                    print("Transaction limit is 20k only")
            else:
                print("Insuffcient fund")
        else:
            print("Please enter multiples of 100")
    def deposit(self):
        amt=int(input("Enter your deposite amount :"))
        if amt%100==0:
            if amt<=50000:
                self.acbal=self.acbal+amt
            else:
                print("Transaction limit is 50k only")
        else:
            print("Please enter multiples of 100")
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()
        elif option==2:
            obj.withdraw()



obj=ATM()
obj.viewOptions()

Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 2
Enter your withdraw amount: 1800
500 rupees notes are :  3
200 rupees notes are :  1
100 rupees notes are   1
Avaliable bal is:  8200

In [59]:
class ATM:
    acbal=10000
    def numberOfNotes(self,amt):
        five=0
        two=0
        one=1
        if amt>=500:
            five=amt//500
            amt=amt-(five*500)
            print("500 rupees notes are : ",five)
        if amt>=200:
            two=amt//200
            amt=amt-(two*200)
            print("200 rupees notes are : ",two)
        if amt>=100:
            print("100 rupees notes are  ",one)

    def withdraw(self):
        amt=int(input("Enter your withdraw amount: "))
        if amt%100==0:
            if amt<=self.acbal:
                if amt<=20000:
                    self.acbal=self.acbal-amt
                    obj.numberOfNotes(amt)
                    print("Avaliable bal is: ",self.acbal)
                else:
                    print("Transaction limit is 20k only")
            else:
                print("Insuffcient fund")
        else:
            print("Please enter multiples of 100")
    def deposit(self):
        amt=int(input("Enter your deposite amount :"))
        if amt%100==0:
            if amt<=50000:
                self.acbal=self.acbal+amt
            else:
                print("Transaction limit is 50k only")
        else:
            print("Please enter multiples of 100")
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()
        elif option==2:
            obj.withdraw()
        elif option==3:
            print("Avaliable bal is: ",self.acbal)
        elif option==0:
            print("Thank you, Visit again")
        else:
            print("Please select correct option ")



obj=ATM()
obj.viewOptions()

Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 2
Enter your withdraw amount: 2000
500 rupees notes are :  4
Avaliable bal is:  8000

In [60]:
class ATM:
    acbal=10000
    def continue1(self):
        value=int(input("1 for continue and 0 for EXIT"))
        if value==1:
            obj.viewOptions()
        else:
            print("Thank you, Visit again")
    def numberOfNotes(self,amt):
        five=0
        two=0
        one=1
        if amt>=500:
            five=amt//500
            amt=amt-(five*500)
            print("500 rupees notes are : ",five)
        if amt>=200:
            two=amt//200
            amt=amt-(two*200)
            print("200 rupees notes are : ",two)
        if amt>=100:
            print("100 rupees notes are  ",one)

    def withdraw(self):
        amt=int(input("Enter your withdraw amount: "))
        if amt%100==0:
            if amt<=self.acbal:
                if amt<=20000:
                    self.acbal=self.acbal-amt
                    obj.numberOfNotes(amt)
                    print("Avaliable bal is: ",self.acbal)
                else:
                    print("Transaction limit is 20k only")
            else:
                print("Insuffcient fund")
        else:
            print("Please enter multiples of 100")
    def deposit(self):
        amt=int(input("Enter your deposite amount :"))
        if amt%100==0:
            if amt<=50000:
                self.acbal=self.acbal+amt
            else:
                print("Transaction limit is 50k only")
        else:
            print("Please enter multiples of 100")
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()
            obj.continue1()
        elif option==2:
            obj.withdraw()
            obj.continue1()
        elif option==3:
            print("Avaliable bal is: ",self.acbal)
            obj.continue1()
        elif option==0:
            print("Thank you, Visit again")
        else:
            print("Please select correct option ")



obj=ATM()
obj.viewOptions()

Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 2
Enter your withdraw amount: 200
200 rupees notes are :  1
Avaliable bal is:  9800
1 for continue and 0 for EXIT1
Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 1
Enter your deposite amount :15000
Avaliable bal is:  24800
1 for continue and 0 for EXIT0
Thank you, Visit again

In [61]:
class ATM:
    acbal=10000
    wcount=0
    def validation(self):
        pin=int(input("Enter your pin: "))
        if pin==1234:
            obj.viewOptions()
        else:
            print("Invalid pin number, try again")
    def continue1(self):
        value=int(input("1 for continue and 0 for EXIT"))
        if value==1:
            obj.viewOptions()
        else:
            print("Thank you, Visit again")
    def numberOfNotes(self,amt):
        five=0
        two=0
        one=1
        if amt>=500:
            five=amt//500
            amt=amt-(five*500)
            print("500 rupees notes are : ",five)
        if amt>=200:
            two=amt//200
            amt=amt-(two*200)
            print("200 rupees notes are : ",two)
        if amt>=100:
            print("100 rupees notes are  ",one)

    def withdraw(self):
        amt=int(input("Enter your withdraw amount: "))
        if amt%100==0:
            if amt<=self.acbal:
                if amt<=20000:
                    self.acbal=self.acbal-amt
                    obj.numberOfNotes(amt)
                    self.wcount=self.wcount+1
                    print("Avaliable bal is: ",self.acbal)
                else:
                    print("Transaction limit is 20k only")
            else:
                print("Insuffcient fund")
        else:
            print("Please enter multiples of 100")
    def deposit(self):
        amt=int(input("Enter your deposite amount :"))
        if amt%100==0:
            if amt<=50000:
                self.acbal=self.acbal+amt
            else:
                print("Transaction limit is 50k only")
        else:
            print("Please enter multiples of 100")
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()
            obj.continue1()
        elif option==2:
            if self.wcount<3:
                obj.withdraw()
            else:
                print("your transaction limit is over for the day")
            obj.continue1()
        elif option==3:
            print("Avaliable bal is: ",self.acbal)
            obj.continue1()
        elif option==0:
            print("Thank you, Visit again")
        else:
            print("Please select correct option ")



obj=ATM()
obj.validation()

Enter your pin: 1234
Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 2
Enter your withdraw amount: 500
500 rupees notes are :  1
Avaliable bal is:  9500
1 for continue and 0 for EXIT1
Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 2
Enter your withdraw amount: 600
500 rupees notes are :  1
100 rupees notes are   1
Avaliable bal is:  8900
1 for continue and 0 for EXIT1
Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 1
Enter your deposite amount :6000
Avaliable bal is:  14900
1 for continue and 0 for EXIT0
Thank you, Visit again